:root {
    --color-blue: #3350fe;
    --color-price-yellow: #f9db76;
    --color-price-pink: #fb8aaf;
    --color-price-original: #8F8F93;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Lepcha', sans-serif;
    /* font-family: 'Source Code Pro', monospace; */
}

html {
    font-size: 16px;
}

/* ----------------Container---------------- */

.container {
    width: 100%;
    font-size: 16px;
}

/* ----------------Header---------------- */
header {
    width: 100%;
}

/* ----------------Contact---------------- */
header .contact {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background: rgba(113, 113, 113, 0.1);
    font-size: 13px;
    align-items: baseline;
}

header .contact .content {
    width: 1240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header .contact li {
    list-style: none;
}

header .contact a {
    text-decoration: none;
    color: black;
}

header .contact a:hover {
    color: #3350fe;
}

/* ----------------Contact -> Info---------------- */
header .contact .content .info {
    width: 50%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-left: 30px;
}

header .contact .content .info li {
    color: grey;
    font-weight: 550;
}

header .contact .content .info li span {
    color: black;
}

header .contact .content .info li a {
    font-weight: normal;
    color: grey;
}

header .contact .content .info li a:hover {
    color: #3350fe;
}

/* ----------------Contact -> Account---------------- */
header .contact .content .account {
    width: 50%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

header .contact .content .account a {
    font-weight: 530;
}

/* ----------------toggle_contact---------------- */
header .contact .content .toggle_contact {
    display: none;
}

/* ----------------Navbar---------------- */
header nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ----------------NarBar -> logo + search + cart---------------- */
header nav .navbar {
    width: 1240px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

/* ----------------Logo---------------- */
header nav .navbar .logo {
    height: 40px;
}

header nav .navbar .logo img {
    height: 100%;
}

/* ----------------search  and category---------------- */
header nav .navbar form {
    width: 60%;
}

header nav .navbar .search {
    width: 100%;
    height: 48px;
    display: flex;
    border: 2px solid #3350fe;
    border-radius: 30px;
}

header nav .navbar .search select {
    width: 200px;
    height: 100%;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.8);
    outline: none;
}

header nav .navbar .search select:hover {
    cursor: pointer;
}

header nav .navbar .search input {
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    border-left: 1px solid rgb(194, 194, 194);
    padding-left: 20px;
}


header nav .navbar .search .icon_search {
    width: 60px;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

header nav .navbar .search i {
    font-size: 0.85em;
    font-weight: bold;
}

header nav .navbar .search i:hover {
    color: #3350fe;
    cursor: pointer;
}

/* ----------------Cart shopping---------------- */
header nav .navbar .cart {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav .navbar .cart i {
    height: 100%;
    width: 20%;
    font-size: 2.3em;
}

header nav .navbar .cart .quantity {
    width: 23px;
    height: 23px;
    font-size: 0.75em;
    font-weight: bold;
    color: white;
    background: #3350fe;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: 35px;
}

header nav .navbar .cart:hover .quantity {
    background: black;
}

header nav .navbar .cart .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

header nav .navbar .cart .info .title {
    font-size: 0.8em;
    width: 60px;
    text-align: left;
}

header nav .navbar .cart .info .price {
    width: 60px;
    font-size: 1.2em;
    text-align: left;
}

/* ----------------Menu---------------- */
header nav .menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------Level 01------------ */
header nav .menu .level01 {
    width: 1240px;
    height: 100%;
    padding: 0px 30px;
    display: flex;
    list-style-type: none;
    gap: 2em;
    align-items: center;
}

.menu .level01 li {
    height: 100%;
    position: relative;
}

.menu .level01 li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.menu .level01 li:hover>a {
    color: var(--color-blue);
    width: max-content;
}

/* ---------Level 02------------ */
.menu .level01 .level02 {
    display: none;
}

.menu .level01 li:hover .level02 {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
    background: white;
    top: 40px;
    z-index: 99;
}

.menu .level01 li:hover .level02.ver1 {
    width: 900px;
    padding: 20px 0px 20px 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
    position: absolute;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 20px;
}

.menu .level01 .level02 li {
    position: relative;
    top: 0;
    left: 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
}

.menu .level01 .level02 li a {
    color: black;
    font-weight: normal;
    margin-top: 10px;
}

.menu .level01 .level02 li a.title {
    font-weight: bold;
}

.menu .level01 .level02 li a.title:hover {
    color: black;
    border: none;

}

.menu .level01 .level02 li a:hover {
    border-bottom: 1px solid var(--color-blue);
    color: var(--color-blue);
}

/* ----------------Slide show----------------- */
.swiper {
    width: 100%;
    height: 492px;
    display: flex;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-wrapper .swiper-slide {
    width: 100%;
    position: relative;
}

.swiper-wrapper .swiper-slide img {
    width: 100%;
}

.swiper-wrapper .swiper-slide .contents {
    position: absolute;
    top: 0;
    left: 27%;
    color: white;
}

.swiper-slide .contents .title {
    padding-top: 90px;
    width: 600px;
    font-size: 58px;
    line-height: 60px;
}

.swiper-slide .contents .description {
    margin-top: 40px;
    width: 450px;
    font-size: 22px;
    color: rgb(191, 191, 191);
}

.swiper-slide .contents button {
    margin-top: 50px;
    height: 40px;
    padding: 6px 30px;
    font-size: 13px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: var(--color-blue);
    color: white;
    font-weight: 600;
}

.swiper-slide .contents button:hover {
    background: white;
    color: black;
    cursor: pointer;
}

/* ----------------Services------------------- */
.services {
    width: 100%;
    height: 250px;
    background-image: url(/images/backGround/dotGrid.png);
    display: flex;
    justify-content: center;
}

.container-custom {
    width: 1240px;
    padding: 60px 0;
}

.container-custom .box {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 7px;
    display: flex;
}

.box .box-item {
    width: calc(100% /4);
    height: 100%;
    display: flex;
}

.box .box-item .left {
    width: 150px;
    height: 100%;
    font-size: 50px;
    font-weight: normal;
    color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .box-item .right {
    width: 100%;
    height: 100%;
    padding-top: 35px;
    border-right: 1px solid rgb(210, 210, 210);
}

.box .box-item .right .title {
    font-size: 18px;
    font-weight: 600;
}

.box .box-item .right .description {
    font-size: 14px;
    color: grey;
}

/* -------------------Card Product 01---------------- */
.card-product01 {
    width: 100%;
    padding: 60px 25.8%;
    display: flex;
    justify-content: space-between;
}

.card-product01 .card-item {
    width: 600px;
    height: 260px;
    background-size: cover;
    background-position: right;
    border-radius: 15px;
    padding: 35px 0px 0px 67px;
    color: white;
}

.card-product01 .card-item.item1 {
    background-image: url(/images/cardProduct01/featured-2-2.jpg);
}

.card-product01 .card-item.item2 {
    background-image: url(/images/cardProduct01/featured-1-1-2.jpg);
}

.card-product01 .card-item .heading {
    font-size: 20px;
    font-weight: normal;
    color: rgb(220, 220, 220);
}

.card-product01 .card-item a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    line-height: 40px;
}

.card-product01 .card-item a:hover {
    color: grey;
}

.card-product01 .card-item .title {
    margin-top: 15px;
    font-size: 16px;
    color: grey;
}

.card-product01 .card-item.card-item.item1 .price {
    font-size: 40px;
    color: var(--color-price-yellow);
}

.card-product01 .card-item.card-item.item2 .price {
    font-size: 40px;
    color: var(--color-price-pink);
}

/* ----------------Product Sale------------------- */
.wrapper {
    width: 100%;
    padding: 0 25.8%;
}

.card-sales {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-sales .card-item {
    width: 390px;
    height: 210px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 15px;
    display: flex;
}

.card-sales .card-item:hover {
    border-color: var(--color-blue);
    border-width: 2px;
}

/* ----------------------left-------------- */

.card-sales .card-item .left {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sales .card-item .left img {
    /* width: 100%; */
    height: 165px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    line-height: 165px;
}

.card-sales .card-item .left button {
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    background: var(--color-blue);
    color: white;
    font-weight: 600;
    position: absolute;
    top: 12%;
    left: 10%;
}

/* ----------------------right-------------- */
.card-sales .card-item .right {
    width: 50%;
    height: 100%;

}

/* -----------rigght - header------------- */
.card-sales .card-item .right header {
    width: 100%;
}

.card-sales .card-item .right header .star-rating {
    width: 100%;
    height: 50px
}

.card-sales .card-item .right header .star-rating .star {
    width: 100px;
    margin-top: 20px;
}

.card-sales .card-item .right header .title {
    width: 80%;
}

.card-sales .card-item .right header .title a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.card-sales .card-item .right header .title a:hover {
    cursor: pointer;
    color: var(--color-blue);
}

/* -----------rigght - section - price------------- */
.card-sales .card-item .right section {
    width: 100%;
}

.card-sales .card-item .right section .original del {
    color: var(--color-price-original);
    font-size: 14px;
    font-weight: 600;
}

.card-sales .card-item .right section .sale {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-blue);
}

/* ------------- right - footer-------- */
.card-sales .card-item .right footer {
    width: 100%;
    margin-top: 10px;
}

.card-sales .card-item .right footer .row {
    display: flex;
}

.card-sales .card-item .right footer .row .col {
    width: calc(100% / 4);
}

.card-sales .card-item .right footer .row .col.num {
    font-weight: 600;
}

/* ----------------Product 02----------------- */
/* ------------------menu---------------------- */
.wrapper .product02 {
    width: 100%;
}

.wrapper .product02 .menu {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: end;
}

.wrapper .product02 .menu .item {
    width: 100px;
}

.wrapper .product02 .menu .item a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.wrapper .product02 .menu .item:first-child a {
    border-bottom: 2px solid var(--color-blue);
}

.wrapper .product02 .menu .item a:hover {
    color: var(--color-price-original);
}

/* ----------------product - card---------------- */
.wrapper .product02 .product {
    width: 100%;
    height: 486px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.wrapper .product02 .product .card {
    width: 261px;
    height: 464px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 15px;
    position: relative;
}

.product02 .product .card:hover {
    border-color: var(--color-blue);
}

.product02 .product .card .image {
    width: 100%;
}

.product02 .product .card .image img {
    width: 100%;
    border-radius: 20px;
    z-index: 999;
    position: relative;
}

.product02 .product .card header {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.product02 .product .card header .title {
    font-size: 14px;
    color: var(--color-blue);
}

.product02 .product .card header .description {
    font-size: 16px;
    font-weight: 600;

}

.product02 .product .card header .description:hover {
    color: var(--color-blue);
    cursor: pointer;
}

.product02 .product .card section {
    width: 100%;
    text-align: center;
}

.product02 .product .card section .price {
    font-size: 18px;
    font-weight: 600;
}

.product02 .product .card section .price.sale {
    color: var(--color-blue);
}

.product02 .product .card section del {
    color: var(--color-price-original);
    font-size: 14px;
}

.product02 .product .card section .star-rating {
    width: 100%;
}

.product02 .product .card section .star-rating img {
    width: 100px;

}

.product02 .product .card footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.product02 .product .card footer button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
}

.product02 .product .card footer button:hover {
    background: var(--color-blue);
    color: white;
}

.product02 .product .card .controls {
    width: 40px;
    position: absolute;
    top: 20px;
    left: 60%;
    transition: 0.8s ease-in-out;
    opacity: 0.2;
}

.product02 .product .card:hover .controls {
    left: 80%;
    opacity: 1;
    z-index: 999999999;
}

.product02 .product .card .controls .item {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    background: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
}

.product02 .product .card .controls .item i {
    font-size: 20px;
}


.product02 .product .card .controls .item:hover i {
    color: var(--color-blue);
}

/* -----------------deal-------------------- */
.deal {
    width: 100%;
    height: 525px;
    background-image: url(/images/backGround/dotGrid.png);
}

.deal .wrapper .title {
    width: 100%;
    font-size: 30px;
    height: 100px;
    display: flex;
    align-items: flex-end;
}

.deal .wrapper .product {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ------------------item 1------------- */
.deal .wrapper .product .item1 {
    width: 900px;
    height: 380px;
    padding: 20px;
    background: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 15px;
    display: flex;
}

.deal .wrapper .product .item1:hover {
    border-color: var(--color-blue);
}

.deal .wrapper .product .item1 .left {
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
    position: relative;
}

.deal .wrapper .product .item1 .left img {
    width: 100%;
}

.deal .wrapper .product .item1 .left button {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background: var(--color-blue);
    color: white;
    position: absolute;
    top: 20px;
    left: 15px;
}

.deal .wrapper .product .item1 .right {
    width: 520px;
    height: 100%;
}

.product .item1 .right header {
    width: 100%;
}

.product .item1 .right header .star-rating {
    width: 100%;
}

.product .item1 .right header .star-rating img {
    width: 100px;
    margin-top: 50px;
}

.product .item1 .right header .title {
    width: 100%;
    height: 30px;
}

.product .item1 .right header .title a {
    width: 100%;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.product .item1 .right header .title a:hover {
    color: var(--color-blue);
}

.product .item1 .right section {
    width: 100%;
    margin-bottom: 20px;
}

.product .item1 .right section del {
    color: var(--color-price-original);
    font-size: 14px;
    font-weight: 600;

}

.product .item1 .right section .sale {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-blue);
}

.product .item1 .right section .description {
    width: 100%;
    margin-top: 10px;
}

.product .item1 .right footer {
    width: 100%;
}

.product .item1 .right footer .row {
    width: 100%;
    display: flex;
}

.product .item1 .right footer .row .col {
    width: 70px;
    font-size: 13px;
}

.product .item1 .right footer .row .col.num {
    font-weight: 600;
    font-size: 26px;
}

/* -----------------------item 2------------------ */
.product .item2 {
    width: 295px;
    height: 380px;
    background-image: url(/images/deal/SaleIphoneX.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 15px;
    color: white;
    padding: 0px 50px;
}
.product .item2 .title {
    font-size: 22px;
    font-weight: normal;
}

.product .item2 .description {
    font-size: 22px;
    font-weight: 700;
}
.product .item2 .description:hover {
    color: var(--color-price-original);
    cursor: pointer;
}
.product .item2 .price {
    width: 100%;
    margin-top: 30px;
}
.product .item2 .price del {
    color: var(--color-price-original);
    font-size: 14px;
}
.product .item2 .price .sale {
    font-size: 32px;
    color: var(--color-price-yellow);
}


/* ----------------RESPONSIVE---------------- */

/* Laptop 15.6 inch max-width: 1920px Full HD */
@media only screen and (max-width: 120em) {

    /* Contact */
    header {
        width: 100%;
        /* margin: 0px auto; */
    }

    header .contact {

        font-size: 0.79em;
        height: 40px;
    }

    .contact .content {
        max-width: 1340px;
        width: 100%;
        height: 100%;
    }

    /* slide show */
    .swiper-wrapper .swiper-slide .contents {
        left: 18.8%;
    }

    /* service */
    .container-custom {
        width: 1180px;
    }

    /* Card product01 */
    .card-product01 {
        padding: 0px 19%
    }

    .card-product01 .card-item {
        width: 580px;
    }

    /* Card sales */
    .wrapper {
        padding: 40px 19%;
    }

    .card-sales .card-item {
        width: 380px;
    }
}

/* Tablet max-width: 1024px*/
@media only screen and (max-width: 64em) {

    /* Contact */
    header .contact {
        height: 34px;
    }

    header .contact .content .info,
    header .contact .content .account {
        display: none;
    }

    header .contact .content .toggle_contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Phone  max-width: 600px*/
@media only screen and (max-width: 37.5em) {}